<ion-content class="home">
  <div class="home-wrapper">

  <!-- HEADER CARD -->

  <div class="header-card">

    <div class="title">
      <h1>Auxiliar Administrativo</h1>
      <p>Test OPE Osakidetza 2026</p>

    </div>
    
  </div>
  <!-- TEMARIO CARDS -->

  <div class="temario">
    <ion-button class="temario-card"
      [routerLink]="['/tabs/quiz']"
      [queryParams]="{ mode: 'general' }"
      shape="round">
        <h3>Temario General</h3>
    </ion-button>


    <ion-button class="temario-card"
      [routerLink]="['/tabs/quiz']"
      [queryParams]="{ mode: 'specific' }"
      shape="round">
        <h3>Temario Especifico</h3>
    </ion-button>


    <ion-button class="temario-card"
      [routerLink]="['/tabs/quiz']"
      [queryParams]="{ mode: 'combined' }"
      shape="round">
        <h3>Temario Conjunto</h3>
    </ion-button>

  </div>
</div>
</ion-content>