.home {

   --background:#e4ffc2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* contenedor centrado */

.home-wrapper{
  min-height:100%;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  padding-top: 20px;
  padding-bottom:120px;
}

/* HEADER */

.header-card {

  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;

}

.title h1{
font-size:30px;
line-height:1.2;
color: #243d1d;
font-weight: bold;

}

.title p{
font-size:16px;
opacity:0.7;
color: #243d1d;

}




/* TEMARIO */

.temario{
    display:flex;
    flex-direction:column;
    gap:16px;

    margin-top:20px;
    align-items:center;
}

.temario-card{
    width:260px;

    margin: 15px 0;

  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-start: 20px;
  --padding-end: 20px;
}


/* BOTONES */

.temario-card{

--background:white;
--color:#243d1d;

height:50px;

border-radius:18px;


letter-spacing:0.5px;

}


